{% extends 'base.html.twig' %}

{% block title %}Todo App
{% endblock %}

{% block body %}
	<div class="table-data__tool">
		<div class="table-data__tool-right">
			<button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#myModal">
				<i class="zmdi zmdi-plus"></i>add item</button>
				<button id="btn-delRows" class="au-btn au-btn-icon btn-danger au-btn--small"><i class="zmdi zmdi-minus"></i><span class="rows_selected" id="select_count">0 Row Selected</span></button>		
			<!-- The Modal -->
			<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Create Todo Task</h4>
						</div>
						<!-- Modal body -->
						<form action="{{path('createTodo')}}" class="modal-body" method="POST">
							<div class="form-group ">
								<label for="name" class="font-weight-bold">Name</label>
								<input maxlength="70" type="text" class="form-control" id="name" name="name" required>
							</div>
							<div class="form-group">
								<label for="des" class="font-weight-bold">Description</label>
								<textarea maxlength="100" class="form-control" id="des" name="des" required></textarea>
							</div>
							{# <input type="date" id="date" /> #}
							<br>
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="table-responsive table-responsive-data2">
		<table class="table table-data2 table-sorttable display" id="listTable">
			<thead>
				<tr>
					<th><input type="checkbox" id="select_all"></th>
					<th class="th">name</th>
					<th class="th">description</th>
					<th class="th">creation date</th>
					<th class="th">Last Modification</th>
					<th class="th">status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in list %}
				<tr class="tr-shadow" id="{{item.id}}">
					{# <td data-target="id" hidden>
						{{item.id}}
					</td> #}
					<td> 
						<input type="checkbox" value="{{item.id}}" name='checkList[]' class="checkItem" data-checkbox-id="{{item.id}}" >
					</td>
					{% if item.status == 1 %}
					<td class="font-weight-bold" data-target="name">
						<del>{{item.name}}</del>
					</td>
					{% endif %}
					{% if item.status == 0 %}
					<td width="150px" style="word-break: break-all;" class="font-weight-bold" data-target="name">
						{{item.name}}
					</td>
					{% endif %}
					<td data-target="description" width="250px" style="word-break: break-all;">
						{{item.description}}
					</td>
					<td>{{item.createDate|date('d-m-Y')}}</td>
					{% if item.lastModificationTime != null %}
						<td>{{item.lastModificationTime|date('d-m-Y h:i')}}</td>
					{% endif %}
					{% if item.lastModificationTime == null %}
						<td class="font-weight-bold">None</td>
					{% endif %}
					<td>{{item.status ? '<span class="badge badge-finish">Completed</span>': '<span
							class="badge badge-not-finish">Not
							Completed</span>'}}</td>
					<td>
						<div class="table-data-feature">
							{% if item.status == 0 %}
							<button class="btn btn-success mr-1 btn-do-task" data-toggle="tooltip" data-placement="top" title="Do"
								onclick="location.href='/list/do/{{item.id}}'">
								<i class="fa-solid fa-check"></i>
							</button>
							{% endif %}
							{% if item.status == 1 %}
							<button class="btn btn-warning mr-1 btn-undo-task" data-toggle="tooltip" data-placement="top" title="Undo"
								onclick="location.href='/list/undo/{{item.id}}'">
								<i class="fa-solid fa-rotate-left text-light"></i>
							</button>
							{% endif %}
							<a class="btn btn-primary mr-1 btn-edit" data-toggle="tooltip" data-placement="top" title="Edit"
								data-role="update" data-id="{{item.id}}" data-toggle="modal" data-target="#modalUpdate">
								<i class="zmdi zmdi-edit text-light"></i>
							</a>
								<!-- The Modal -->
								<div class="modal" id="modalUpdate">
									<div class="modal-dialog">
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title">Update Todo Task</h4>
											</div>
											<!-- Modal body -->
											<form action="{{path('submitUpdateTodo')}}" class="modal-body" method="POST" id="updateForm">
												<div class="form-group">
													<input type="hidden" class="form-control" id="id_update" name="id_update" required>
												</div>
												<div class="form-group ">
													<label for="name_update" class="font-weight-bold">Name</label>
													<input maxlength="70" type="text" class="form-control" id="name_update" name="name_update" required>
												</div>
												<div class="form-group">
													<label for="des_update" class="font-weight-bold">Description</label>
													<textarea maxlength="100" class="form-control" id="des_update" name="des_update" required></textarea>
												</div>
												<br>
												<!-- Modal footer -->
												<div class="modal-footer">
													<button id="closeUpdate" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							<a class="btn btn-danger btn-del" href="list/delete/{{item.id}}" data-toggle="tooltip" data-placement="top" title="Delete">
								<i class="zmdi zmdi-delete"></i>
							</a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block script %}
	<script src="/js/index.js"></script>
{% endblock %}